.header{

}
.img1{
    float: left;
    width: 250px;
    height:250px;
}
.btn1{
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
    background:#1E90FF;
    width:100px;
    padding:10px 15px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float:right;
    margin-right: 45px;
    margin-top: 25px;
    
}
.btn1:hover,.btn1:focus,.btn1:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
.btn2{
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
    background:#1E90FF;
    width:100px;
    padding:10px 15px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float:right;
    margin-right: -130px;
    margin-top: 80px;

}
.btn2:hover,.btn2:focus,.btn2:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
nav ul li a:hover{
    color:#1E90FF;
    transition: .3s;
}
.container{
    width: 500px;
    padding:5%
    height:20px;
    margin-left:-10%;
    border-radius:10px;
    border-color:transparent;

    
}
.btn3{
    font-family:Arial;
    font-size:10px;
    font-weight: bold;
    background:#1E90FF;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-color: transparent;
    
}
.btn3:hover,.btn3:focus,.btn3:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
body{
    background-image: url("../images/pj_Background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.menubar{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
.a1{
    justify-content: space-evenly;
    line-height: 30px;
    color:rgb(8, 8, 8);
    padding:12px 30px;
    text-decoration: none;
    font-size:16px;
    font-weight:bolder;
    text-transform: uppercase;
    margin-left:-170%;
}

.a1:hover{
    background: #1E90FF;
    border-radius:10px;
}
.companies{
    text-align: center;
    color: rgb(15, 15, 15);
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.l1,.l2,.l3,.l4{
    width:200px;
    height:200px;
    border-radius: 10%;
    justify-content: space-evenly;
   

}
.l1:hover,.l1:focus,.l1:active,.l2:hover,.l2:focus,.l2:active,.l3:hover,.l3:focus,.l3:active,.l4:hover,.l4:focus,.l4:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
   

}

.img4,.img5,.img6,.img7{
    float:bottom;
    width: 20px;
    height:20px;
    border-radius: 8px;
}
.reason{
    text-align:center;
}
table{
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    
}
.qrcode{
    float:right;
    width:50px;
    height:50px;
}
.abt1{
    text-align: center;

}
.img2{
    float:bottom;
    width:150px;
    height: 50px;
    border-radius: 8px;

}

.slideshow-container {
	margin-left:400px;
}

* {box-sizing: border-box}
body {font-family: Verdana, sans-serif; margin:0}
.mySlides {display: none}
img {vertical-align: middle;}


.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}


.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}


.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}


.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}


.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}


.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}


@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}