.header{

}
.img1{
    float: left;
    width: 250px;
    height:250px;
}
.btn1{
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
    background:#1E90FF;
    width:100px;
    padding:10px 15px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float:right;
    margin-right: 50px;
    margin-top: 25px;
    
}
.btn1:hover,.btn1:focus,.btn1:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
.btn2{
    font-family:Arial;
    font-size:16px;
    font-weight: bold;
    background:#1E90FF;
    width:100px;
    padding:10px 15px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    float:right;
    margin-right: -130px;
    margin-top: 80px;

}
.btn2:hover,.btn2:focus,.btn2:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;


}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}
nav ul li a{
    color:#4d3227;
    text-decoration: none;
    font-weight:bold;
}
nav ul li a:hover{
    color:white;
    transition: .3s;
}
.container{
    width: 500px;
    padding:5%
    height:20px;
    margin-left:-10%;
    border-radius:10px;
    border-color:transparent;

    
}
.btn3{
    font-family:Arial;
    font-size:10px;
    font-weight: bold;
    background:#1E90FF;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-color: transparent;
    
}
.btn3:hover,.btn3:focus,.btn3:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
body{
    background-image: url("wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}
.menubar{
    list-style: none;
    margin:0;
    padding:0;
    display:flex;
    justify-content: space-evenly;
    text-align: center;
}
.a1{
    justify-content: space-evenly;
    line-height: 30px;
    color:#371400;
    padding:12px 30px;
    text-decoration: none;
    font-size:16px;
    font-weight:bolder;
    text-transform: uppercase;
    margin-left:-170%;
}

.a1:hover{
    background: #cd7700;
    border-radius:10px;
}
.companies{
    text-align: center;
    color: #4d3227;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.l1,.l2,.l3,.l4{
    width:100px;
    height:100px;
    border-radius: 10%;
    justify-content: space-evenly;
   

}
.l1:hover,.l1:focus,.l1:active,.l2:hover,.l2:focus,.l2:active,.l3:hover,.l3:focus,.l3:active,.l4:hover,.l4:focus,.l4:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
   

}

.img4,.img5,.img6,.img7{
    float:bottom;
    width: 20px;
    height:20px;
    border-radius: 8px;
}
.reason{
    text-align:center;
    font-size: x-large;
    color: #4d3227;
    font-weight: bolder;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

table{
    font-size: large;
    text-align: center;
    justify-content: space-evenly;
    display: flex;
    color: #371400;
    
}
table:hover{
    -webkit-transform: scale(1.1);
    color: #4d3227;
}
.qrcode{
    float:right;
    width:50px;
    height:50px;
}
.abt1{
    text-align: center;

}
.img2{
    float:bottom;
    width:150px;
    height: 50px;
    border-radius: 8px;

}
.slideshow-container{
    border-radius: 15px;
}
.review{
    font-family:Arial;
    font-size:10px;
    font-weight: bold;
    background:#1E90FF;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 10px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-color: transparent;
}
.review:hover,.review:focus,.review:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}