.formbox1{
    display:flex;
    align-items:center;
    justify-content: center;
    background-color:transparent;
    border-radius: 5px;
    box-shadow:0 2px 5px rgba(0,0,0,0.3);
    height:70%;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding-top:30px;

    
}
.reg{
    text-align: center;
    font-size: x-large;
    font-weight: bolder;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#4d3227;

}
.rimg{
    justify-content: center;
    height: 100px;
    width:100px;
    display: block;
    margin-left: auto;
    margin-right: auto;

}
.rimg:hover{
    -webkit-transform: scale(1.1);
}
.f2{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    
}
.f2 input{
    border-radius: 5px;
}
.bttn{
    font-family:Arial;
    font-size:14px;
    font-weight: bold;
    background:#1E90FF;
    width:80px;
    text-align: center;
    text-decoration:none;
    text-transform:uppercase;
    color:#fff;
    border-radius: 5px;
    cursor:pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    border-color: transparent;
    height: 40px;
   
}
.bttn:hover,.bttn:focus,.bttn:active{
    box-shadow:0 0 20px rgba(0,0,0,0.5);
    -webkit-transform: scale(1.1);
}
body{
    background-color: #1E90FF;

}
