.img1{
    float: left;
    width: 250px;
    height:250px;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding:10px 20px;
}
nav ul li a{
    color:white;
    text-decoration: none;
    font-weight:bold;
}
nav ul li a:hover{
    color:#1E90FF;
    transition: .3s;
}
.container{
    width: 500px;
    padding:5%;
    height:20px;
    margin-left:-10%;
    border-radius:10px;
    border-color:transparent;

    
}

body{
    background-image: url("userAccountImages/wallpaperflare.com_wallpaper.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height:100vh;
}

body {
    font-family: Arial;
    font-size: 15px;
  }
  
  
.yourJobs{
    font-style: italic;
    padding-top: 10px;
    padding-left: 50px;
    min-height: 200px;
    max-height: 500px;
    background-color: rgb(245, 239, 239);
}
table{
    border-collapse: collapse;
    width: 75%;
}
table th{
    padding: 10px;
}
table td{
    font-size: 1.2em;
}
.user_btn{
   display: inline-block;
    padding: 50px;
    padding: 10px;
    text-align: center;
}/*
.btn{
    background: #fff;
    color: darkred;
    font-size: 1.2em;
    padding: 5px 30px;
    text-decoration: none;
}
.btn :hover{
    background: darkred;
    color: #fff;
}*/
button{
    background-color: #ffffff;
    color: darkred;
    padding: 14px 20px ;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
  }
  
  button:hover {
    background-color:rgb(76, 3, 3);
  }

.UA_btn{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    background: #04AA6D;
    width: 100px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: #fefefe;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(196, 75, 75, 0.1);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: box-shadow, transform;
    transition-property: box-shadow, transform;

}
.UA_btn:hover, .UA_btn:focus, .UA_btn:active{
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
.img4,.img5,.img6,.img7{
    float:bottom;
    width: 20px;
    height:20px;
    border-radius: 8px;
}

.qrcode{
    float:right;
    width:50px;
    height:50px;
}
.abt1{
    text-align: center;

}
.img2{
    float:bottom;
    width:150px;
    height: 50px;
    border-radius: 8px;

}
.mySlides{
    border-radius: 15px;
    width: 100px;
}